<section id="intro">
  <h1 class="lead">ABOUT ME</h1>
  <hr class="my-4">
  <div class="row">
    <div class="col-lg-7">
      <div class="img-wrapper">
        <%= image_tag("Renata-image1.png", class: "image-bottom img-fluid") %>
        <%= image_tag("renata-image-2.png", class: "image-top img-fluid") %>
      </div>
    </div>
    <div class="col-lg-4 pt-2">
      <h1>Hi, I'm Renata.</h1>
      <p>I recently discovered a weird fascination for oil (the market, not the cooking ingredient), so you’ll most likely have come here from the daily oil reports I post. </p>
      <!--      <p>Every day I write oil reports and I’m currently storing them in this little archival space on the internet. I really enjoy writing them and I hope they can help you, amuse you, educate you or whatever takes your fancy I guess. </p>-->
      <!--      <p>I guess you’ve come here to learn a bit more about me, so, let me introduce myself a little…</p>-->
      <!--      <p>My name’s Renata, here’s a photo of me, in case you have the strong urge to know what I look like… I’m a French and Management Undergrad at KCL. I’m no financial expert or anything, just a little potato with a weird fascination for the oil markets.</p>-->
      <div class="row">
        <div class="col">
          <%= link_to("Find out more", pages_about_path, class: "btn button") %>
        </div>
      </div>
    </div>
  </div>
</section>

