<section id="about-me">
    <hr class="my-4">
    <div class="row">
      <div class="col-lg-7 pt-2">
        <h1>Who am I?</h1>
        <p>I’m a French and Management Undergrad at KCL and right now, I'm really fascinated by the oil markets.</p>
        <!--      <p>Every day I write oil reports and I’m currently storing them in this little archival space on the internet. I really enjoy writing them and I hope they can help you, amuse you, educate you or whatever takes your fancy I guess. </p>-->
        <!--      <p>I guess you’ve come here to learn a bit more about me, so, let me introduce myself a little…</p>-->
        <!--      <p>My name’s Renata, here’s a photo of me, in case you have the strong urge to know what I look like… I’m a French and Management Undergrad at KCL. I’m no financial expert or anything, just a little potato with a weird fascination for the oil markets.</p>-->
        <div class="row">
          <div class="col">
            <%= link_to("Find out more", pages_about_path, class: "btn button") %>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-wrapper">
          <%= image_tag("australia-renata", class: "image-bottom img-fluid") %>
        </div>
      </div>
    </div>
</section>