<section id="contact">
  <hr class="my-4">
  <div class="row">
    <div class="col-md">
      <div class="social-buttons">
        <a href="https://twitter.com/lifewithrenata" class="social-buttons__button social-button social-button--twitter">
        <span class="social-button_inner shadow-5">
          <i class="fab fa-twitter"></i>
        </span>
        </a>
        <a href="https://www.linkedin.com/in/renata-lee-a873b7146/" class="social-buttons__button social-button social-button--linkedin">
        <span class="social-button_inner shadow-5">
          <i class="fab fa-linkedin"></i>
        </span>
        </a>
        <a href="http://instagram.com/lifewithrenata" class="social-buttons__button social-button social-button--instagram">
        <span class="social-button_inner shadow-5">
          <i class="fab fa-instagram"></i>
        </span>
        </a>
      </div>
    </div>
  </div>
</section>