<section id="posts">
  <hr class="my-4">
  <div class="row">
    <div class="col-md">
      <h1 class="text-center">Recent Posts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md mb-4">
      <div class="container">
        <div class="scroller" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
          <% @posts.each do |post| %>
            <figure class="figure h-100 bg-white">
              <%= link_to image_tag(post.banner, class:"figure-img image rounded border border-dark", style: "object-fit: cover"), post %>
              <figcaption class="figure-caption text-center"><%= link_to post.title, post, class: "post-link" %></figcaption>
            </figure>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to("See more posts", posts_path, class: "btn button") %>
        </div>
      </div>
    </div>
  </div>

</section>