<section id="about-me-full">
  <hr class="my-4">
  <div class="row">
    <div class="col-lg">
      <h3>Hey there! Welcome to my website.</h3>
      <p>Every day I write oil reports and I’m currently storing them in this little archival space on the internet. I really enjoy writing them and I hope they can help you, amuse you, educate you or whatever takes your fancy I guess. I guess you’ve come here to learn a bit more about me, so, let me introduce myself a little…</p>
      <%= image_tag("koala.webp", class: "img-fluid float-right text-wrap shadow-5") %>
      <p>My name’s Renata and I’m a French and Management Undergrad at KCL. I’m no financial expert or anything, just a little potato with a weird fascination for the oil markets.</p>
      <p>I was born in Australia but I’ve spent most my life in the UK, except when I moved to Paris for two years when I was 18, but that’s another story for another day. Maybe I’ll get a chance to meet you and tell you that one.</p>
      <p>Aside from this, I’m quite big on the whole mental health front and raising awareness around it after my mum took her own life when I was younger. Since then, I’ve given talks for charities about mental health as well as spending time volunteering for homeless shelters and night services for vulnerable adults.</p>
      <p>On a lighter note, when I’m not doing one or the other, you can probably catch me in the gym spinning (on a spin bike, not literally) or in a bar with a nice cocktail. Gotta appreciate a well made cocktail. I also do all the other generic CV items like “reading”, “listening to music” or “travelling”.</p>
      <p>So that’s a little insight into my life… Do feel free to get in touch. You find me on most of the social medias such as LinkedIn or Twitter, or email me. I would love to hear your story! Talk soon.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>

