/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./actiontext.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Caslon+Display&family=Playfair+Display:wght@400;500;600&family=Red+Rose:wght@300;400;700&display=swap');
$font: 'Quicksand', sans-serif;
$font1: 'Libre Caslon Display', serif;
$font2: 'Red Rose', cursive;
$font3: 'Playfair Display', serif;

body {
  background-color: #e9ecef!important;
}

.title-img {
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

#navbar {
  path {
    color: black !important;
  }

  .nav-link {
    font-family: $font;
  }
}



.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
  border-color: rgb(0, 0, 0) !important;
}

.img-wrapper {
  display: grid;
}

.image-bottom {
  border-radius: 5px;
  display: flex;
  grid-column: 2 / span 3;
  grid-row: 4 / span 2;
  z-index: 1;
  border: 1px solid black;
}

.image-top {
  z-index: 2;
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
  border-radius: 5px;
  border: 1px solid black;
}

#main-container {
  min-height: 100vh
}

#main-jumbo {
  background: transparent linear-gradient(to right, #ffffff, #fff) !important;
  min-height: 100vh;
}

.wrapper {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;

  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 2px #e50c51;
  color: #e50c51;
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
  transition: color 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: #e50c51;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: #e50c51; // Make borders visible
    border-right-color: #e50c51;
    transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: #e50c51; // Make borders visible
    border-left-color: #e50c51;
    transition:
            border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
  }
}

.navbar-nav {
  li {
    padding: 0 10px;

  }

  li a:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 10%;
    background: #d60f54; /*** COLOR OF THE LINE ***/
    height: 3px; /*** THICKNESS OF THE LINE ***/
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  li a:hover {
    opacity: 1 !important;
  }

  li a:hover:before {
    right: 0;
  }

  li li a:before {
    bottom: 10%;
  }
}

.navbar-nav li a {
  color: black !important;
  transition: 0.2s;
  &:hover {
    //border-color: white;
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

#intro {

  h1 {
    font-family: $font1;
    font-size: 2.5rem
  }

  p {
    font-family: $font1;
    font-weight: 400;
    font-size: 1.3em;
  }

  .button {
    text-decoration: none;
    transition: 0.2s;
    font-family: $font1;
    font-weight: 400;
    float: right;
    border: 1px transparent;

    &:hover {
      border-bottom: 5px solid #e50c51;
    }
  }

  .lead {
    font-weight: 100;
  }
}

#about-me {
  h1 {
    font-family: $font1;
    font-size: 2.5rem
  }
  p {
    font-family: $font1;
    font-weight: 400;
    font-size: 1.3em;
    max-width: 35ch;
  }

  .button {
    text-decoration: none;
    transition: 0.2s;
    font-family: $font1;
    font-weight: 400;
    float: right;
    border: 1px transparent;

    &:hover {
      border-bottom: 5px solid #e50c51;
    }
  }

  .lead {
    font-weight: 100;
  }

  .image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid black;
  }

  .image-bottom {
    border-radius: 5px;
    display: flex;
    grid-column: 2 / span 3;
    grid-row: 5 / span 1;
    z-index: 1;
    border: 1px solid black;
  }

  .image-top {
    z-index: 2;
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 3 / span 4;
    border-radius: 5px;
    border: 1px solid black;
  }
}

#about-me-full {
  h3 {
    font-family: $font1;
  }

  p {
    font-family: $font1;
    font-weight: 400;
    font-size: 1.1em;
  }

  .text-wrap {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(129, 129, 129, 0.82);
  }
}

#show-page-jumbo {
  width: 100%;
  margin-bottom: 0!important;
}



.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black!important;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: 0.3s;
  &:hover {
    z-index: 3;
    color: #fff!important;
    background-color: #e50c51!important;
  }
}

#post-index {
  .post-link {
    text-decoration: none;
    transition: 0.3s;
    color: black;
    border: 5px transparent;
    border-radius: 5px;
    font-family: $font3;
    font-size: 2rem;
    &:hover {
      text-decoration: none;
      color: black;
      border-bottom: 4px solid #e50c51;
    }
  }

  .card {
    .img-box {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      .card-img-top {
        display: block; /* no whitespace */
        transition: .3s ease-in-out;
      }
    }
    &:hover {
      .card-img-top {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }


  .image {
    object-fit: cover;
  }

  p {
    font-family: $font1;
    font-size: 1.15rem;
    font-weight: 500;
  }

  .delete-link {
    text-decoration: none;
    transition: 0.3s;
    color: #6c757d;
    border: 5px transparent;
    border-radius: 5px;
    font-family: $font3;
    &:hover {
      text-decoration: none;
      color: black;
      border-bottom: 4px solid #e50c51;
    }
  }

}

#posts {
  .image {
    width: 100%;
    max-height: 192.133px;
    object-fit: cover;
  }

}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;

  &__button {
    margin: 10px 5px 0;
  }
}

$social-button-radius: 70px;
$social-button-icon-size: 0.4;
$social-button-background: grey;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;

$social-button-colors: (
        "mail": #0072c6,
        "facebook": #3b5999,
        "linkedin": #0077b5,
        "github": #6e5494,
        "codepen": #212121,
        "steam": #7da10e,
        "snapchat":#eec900,
        "twitter": #55acee,
        "instagram": #e4405f,
        "npmjs": #c12127
);

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: $social-button-radius;
  height: $social-button-radius;
  text-decoration: none;
  box-shadow: 2px 2px 8px 2px black;
  border-radius: 50%;


  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: $social-button-background;
    text-align: center;

  }
  i,
  svg {
    position: relative;
    z-index: 1;
    transition: $social-button-transition-time;
  }

  i {
    font-size: $social-button-radius * $social-button-icon-size;
  }

  svg {
    height: percentage($social-button-icon-size);
    width: percentage($social-button-icon-size);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: $social-button-transition-time;
  }

  &:focus,
  &:hover {
    color: $social-button-active-color;

    &::after {
      width: 100%;
      height: 100%;
      margin-left: -50%;
    }
  }

  @each $name, $color in $social-button-colors {
    &--#{$name} {
      color: $color;

      &::after {
        background: $color;
      }
    }
  }
}

#form {
  h1 {
    font-family: $font1;
    font-size: 2.5rem
  }

  p {
    font-family: $font1;
    font-weight: 400;
    font-size: 1.3em;
  }

  label {
    font-family: $font3;
  }

  .button {
    text-decoration: none;
    transition: 0.2s;
    font-family: $font1;
    font-weight: 400;
    border: 1px transparent;
    border-bottom: 5px;
    background-color: #000!important;

    &:hover {
      //border-bottom: 5px solid #e50c51;
      color: #e50c51;
      background-color: white!important;
      box-shadow: 1px 1px 1px #333333;
    }

    &:after{
      content: '';
      position: absolute;
      width: 0; height: 3px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: #e50c51;
      transition: width .2s ease;
      -webkit-transition: width .2s ease;
    }

    &:hover:after{
      width: 100%;
      left: 0;
      background: #e50c51;
    }
  }
}

#post-show {
  .card-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: hidden
  }

  .post-link {
    text-decoration: none;
    transition: 0.3s;
    color: black;
    border: 5px transparent;
    border-radius: 5px;
    font-family: $font3;
    &:hover {
      text-decoration: none;
      color: black;
      border-bottom: 4px solid #e50c51;
    }
  }

  .image {
    object-fit: cover;
  }

  .post_body {
    font-family: $font1;
    font-weight: 500;
  }
}

#posts {
  .post-link {
    text-decoration: none;
    transition: 0.3s;
    color: black;
    justify-content: center;
    border: 5px transparent;
    border-radius: 5px;
    font-family: $font1;
    font-size: 1rem;
    &:hover {
      text-decoration: none;
      color: black;
      border-bottom: 4px solid #e50c51;
    }
  }

  h1 {
    font-family: $font1;
    font-size: 2.5rem
  }

  .button {
    text-decoration: none;
    transition: 0.2s;
    font-family: $font1;
    font-weight: 400;
    border: 1px transparent;
    border-bottom: 5px;

    &:hover {
      border-bottom: 5px solid #e50c51;
    }
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff!important;
  background-color: #e50c51!important;
  border-color: #e50c51!important;
}

.page-item.disabled .page-link {
  color: #6c757d !important;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.comment-container {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  margin: 1em;
  padding-bottom: 1em;
}

.inner-comment-container {
  margin: 1em;
  padding-bottom: 1em;
}

.comment-avatar {
  border-radius: 50%;
  margin: 0.5em;
  max-width: 100%;
  max-height: 100%;
  clip-path: circle(4em at center);
  font-family: $font3;
}

.comment-timestamp {
  font-size: 16px;
  color: rgb(25, 25, 25);
  width: 100%;
  font-family: $font3;

}

.comment-username {
  font-size: 1.5em;
  color: rgb(25,25,25);
  font-weight: 600;
  font-family: $font3;
}

.comment-number {
  font-size: 1.5em;
  color: rgb(25,25,25);
  font-weight: 300;
  font-family: $font3;
}

.comment-body {
  text-align: justify;
}

.comment-form {
  max-width: 100%;
}

trix-toolbar .trix-button-row {
  flex-wrap: wrap;
}

.comment-form-nested {
  margin-right: 2em;
}

.trix-content {
  font-family: $font1;
}

.slick-prev::before, .slick-next::before {

  color: #020000 !important;
  opacity: 0.75;

}

.slick-slide {
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .navbar-nav li a {
    color: black !important;
    transition: 0.2s;
    &:hover {
      //border-color: white;
      transform: scale3d(1.05, 1.05, 1.05);
    }
  }
}


@media only screen and (max-width: 1199px) {
  #posts {
    .image {
      width: 100%;
      max-height: 158.383px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 990px) {
  #posts {
    .image {
      width: 100%;
      max-height: 113.383px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 766px) {
  #posts {
    .image {
      width: 100%;
      max-height: 79.663px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar-nav li a {
    color: black !important;
    transition: 0.2s;
    &:hover {
      //border-color: white;
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }

  #posts {
    .image {
      width: 100%;
      max-height: 86.3833px;
      object-fit: cover;
    }
  }
}

