

<nav class="navbar navbar-expand-lg navbar-light px-0" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path class="path" fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mx-auto align-center" id="top-menu">
    <% if controller_name == "pages" && action_name = "home" %>
      <li class="nav-item">
        <a data-scroll class="nav-link" href="/#intro">RENATA</a>
      </li>
      <li class="nav-item">
        <a data-scroll class="nav-link" href="#about-me">ABOUT ME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OIL</a>
      </li>
      <% else %>
      <li class="nav-item">
          <%= link_to "ABOUT ME", root_path, class: "nav-link"%>
        </li>
    <% end %>
      <li class="nav-item">
        <%= link_to "POSTS", posts_path, class: "nav-link"%>
      </li>
      <% unless current_user %>
      <li class="nav-item">
        <%= link_to "SIGN IN", new_user_session_path, class: "nav-link"%>
      </li>
      <% end %>
    </ul>
  </div>
</nav>